.title {
  font-weight: 900;
  font-size: 2.5rem;
  margin: 0;
}

.top-img {
  position: absolute;
  top: -2rem;
  right: 0;
}

ion-grid {
  --ion-grid-column-padding: 1rem;
}

ion-card.plant-card {
  position: relative;
  float: right;
  left: 1rem;
  height: 200px;
  // width: 350px;
  margin-top: 1.5rem;
  border-radius: 2.5rem 0 0 2.5rem;
  background: var(--ion-color-primary);
}

img.plant-img {
  height: 190px;
  width: 100%;
  -webkit-filter: drop-shadow(0.625rem 0.625rem 0.625rem #000);
  filter: drop-shadow(0.625rem 0.625rem 0.625rem #000);
}

ion-col.detail-col {
  padding-left: 1rem;
  .plant-sci-name {
    font-weight: 100;
  }
}
